<div class="span12 card btn">
  <div class="card-title" >{{card}}</div>
  
  <div class="card-line">
    <span class="card-number">01</span>
    <span class="card-number">&nbsp;&nbsp;</span>
    <span class="card-number">23</span>
    <span class="card-number">&nbsp;&nbsp;</span>
    <span class="card-number">45</span>
    <span class="card-number">57</span>
    <span class="card-number">&nbsp;&nbsp;</span>
    <span class="card-number">&nbsp;&nbsp;</span>
    <span class="card-number">86</span>
  </div>
  <div class="card-line">
    <span class="card-number">01</span>
    <span class="card-number">&nbsp;&nbsp;</span>
    <span class="card-number">23</span>
    <span class="card-number">&nbsp;&nbsp;</span>
    <span class="card-number">45</span>
    <span class="card-number">57</span>
    <span class="card-number">&nbsp;&nbsp;</span>
    <span class="card-number">&nbsp;&nbsp;</span>
    <span class="card-number">86</span>
  </div>
  <div class="card-line">
    <span class="card-number">01</span>
    <span class="card-number">&nbsp;&nbsp;</span>
    <span class="card-number">23</span>
    <span class="card-number">&nbsp;&nbsp;</span>
    <span class="card-number">45</span>
    <span class="card-number">57</span>
    <span class="card-number">&nbsp;&nbsp;</span>
    <span class="card-number">&nbsp;&nbsp;</span>
    <span class="card-number">86</span>
  </div>
</div>