<div class="row-fluid badge badge-info">
  <div class="span4">
    <p>migueldiab</p>
    U$S 6693,06
  </div>
  <div class="span8">
    <div class="row">
      <div class="span8">
        PROXIMA RONDA <br/>
        TUS CARTONES <br/>
        VALOR UNITARIO <br/>
        VALOR TOTAL
      </div>
      <div class="span4">
        U$S 3.52  <br/>
        0/18 <br/>
        U$S 0.25 <br/>
        U$S 0.00
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="btn-group">
    <button type="button" class="btn span4"><i class="icon-question-sign"></i>Help</button>
    <button type="button" class="btn span2"><i class="icon-minus"></i>1</button>
    <button type="button" class="btn span2"><i class="icon-plus"></i>1</button>
    <button type="button" class="btn span4"><i class="icon-star"></i> Purchase</button>
  </div>
</div>

<br/>
<div class="btn-group">
  <button type="button" class="btn span3"><i class="icon-adjust"></i> Config</button>
  <button type="button" class="btn span3"><i class="icon-ban-circle"></i> Mute</button>
  <button type="button" class="btn span3"><i class="icon-book"></i> Reserve</button>
</div>