<div class="row-fluid badge" ng-controller="RoundController">
  <div class="span4">
    <i class="icon-th"></i>
    <b>CARTONES</b> <br/>
    {{cardsInGame}}
  </div>
  <div class="span4">
    <i class="icon-ok-circle"></i>
    <b>BINGO</b> <br/>
    U$S 76,06
  </div>
  <div class="span4">
    <i class="icon-ok-circle"></i>
    <b>LINEA DOBLE</b> <br/>
    U$S 43,06
  </div>
</div>
<div class="row-fluid badge">
  <div class="span4">
    <b>RONDA ACTUAL</b> <br/>
    # 32698
  </div>
  <div class="span4">
    <i class="icon-ban-circle"></i>
    <b>LINEA</b> <br/>
    U$S 23,06
  </div>
  <div class="span4">
    <i class="icon-time"></i>
    <b>HORARIO</b> <br/>
    16:40:00
  </div>
</div>